<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <div class="row">

      <div class="col">
        <h4>Ученик? Введите ID</h4>
        <form action='http://localhost:3000/students' method='POST'>
          <div class="mb-3">
            <label for="studentId" class="form-label">ID ученика</label>
            <input type="number" class="form-control" id="studentId" aria-describedby="">
            <div class="form-text">Введите ID</div>
          </div>
          <button type="submit" class="btn btn-primary">Перейти</button>
        </form>
      </div>

      <div class="col">
        <h4>Сотрудник ФМЦИ? Перейти в систему</h4>
        <form action='http://localhost:3000/users/login' method='POST'>
          <div class="mb-1">
            <label for="inputEmail" class="form-label">Email address</label>
            <input name="email" type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Введите почту</div>
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Пароль</label>
            <input name="password" type="password" class="form-control" id="InputPassword">
          </div>
          <button type="submit" class="btn btn-primary">Перейти</button>
        </form>
      </div>
    </div>
  </div>


</body>
</html>
